
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>
<h3>How it works!</h3>
<ul>
    <li>C#</li>
    <li>PHP</li>
    <li>Laravel</li>
    <li>React</li>
    <li>Vue</li>
</ul>

<p>Lorem ipsum</p>
<p>Lorem ipsum</p>
<p>Lorem ipsum</p>
<p>Lorem ipsum</p>
<p>Lorem ipsum</p>

<h5>Nuew Title here!</h5>
