@model  IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "movielist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>movielist</h2>
<p>
    @Html.ActionLink("New Movie", "New", new { controller = "Movies" }, new { @class = "btn btn-primary" })
</p>
<table id="movies" class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-movie-id=" + data + " class='btn-link js-delete'>Delete</button>";
                        }
                    }
                ]
            });

            
        });
    </script>
}
